/* reseting css */
:root {
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'Playpen Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font styles */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}

/* normal default sytles */

body {
    font-family: var(--font-secondary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

/* common styles */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* main content */

main.container {
    padding-top: 151px;
}

.title {
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 20px;
    padding-top: 20px;
}

.section-margin {
    margin: 30px 0;
}
